<!doctype html>
<html lang="en" data-theme="light" use-min-height>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="common/css/main.css">
        <script src="common/js/webexp.js"></script>
		<script src="common/js/util.js"></script>
		<title>Experiment</title>
    </head>

    <body>
        <div id="main_container" class="container">
            <article class="top_bot_pad_1em main_card">
                <header class="header_section">
                    <h3 id="study_welcome">Welcome to our study!</h3>
				</header>

                <div id="main_section">
                    
                </div>

                <footer class="footer_section">
                    <p>
                        <b>I hereby declare that I read and understood the above-described conditions of participation 
                            and I agree to participate under these conditions.</b>
                    </p>
                    <div class="grid">
                        <button id="consent_btn" aria-busy="false">I agree</button>
                        <button id="reject_btn">I do not agree</button>
                    </div>
                </footer>
            </article>
        </div>

        <script src="landingpage.js"></script>
    </body>
</html>
