<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../common/css/main.css">
        <link rel="stylesheet" href="css/task.css">
        <script src="../../common/js/webexp.js"></script>
		<script src="../../common/js/util.js"></script>
		<title>Experiment</title>
    </head>

    <body class="fit_with_scroll">
        <div id="main_container" class="container">
            <article class="top_bot_pad_1em main_card">
                <header class="header_section">
                    <h3>Task</h3>
				</header>

                <div>
                    <p>
                        Template
                    </p>
                    
                </div>

                <footer class="footer_section">
                    <div class="continue_btn_div">
                        <button id="continue_btn" aria-busy="false">Continue</button>
                    </div>
                </footer>
            </article>
        </div>

       

        <script src="js/task.js"></script>
    </body>
</html>
