@import url(pico.min.css);

.top_bot_pad_1em {
	padding-top: 1em; 
	padding-bottom: 1em;
}

.header_section h3 {
    margin-bottom: 0px;
}

.continue_btn_div {
    width: 300px;
    margin: auto;
}

.inline_box {
    display: flex;
}

.fit_with_scroll{
    min-width: fit-content;
    overflow-x: auto;
}

.footer_section{
    text-align: center;
}

button {
    min-width: 10em;
}

:root[use-min-height] .main_card {
    min-height: 45em;
    display: flex;
    flex-direction: column;
}

:root[use-min-height] .footer_section {
    margin-top: auto;
}
