<p>
	Thank you for participating in an online study of the Professorship of Predictive Analytics 
	of the University of Technology Chemnitz!
</p>
<p>
	The goal of this study is to examine our ability to process information and reason about it.
	Therefore, you will be presented with several reasoning tasks.
	It is <b>not</b> a test of your intelligence, 
	we are interested in the <b>specific way</b> you reason based on the given information. 
	Make sure you can complete the whole experiment without <b>any interruption</b>. 
	Please avoid any distractions (i.e., TV, music, smartphones). 
	The study will take <b><span id="estim_time">about XX minutes</span></b>.
</p>
<p>
	Please <b>do not use a smartphone or tablet</b> to participate in this study, 
	as it is optimized for the use of a desktop or laptop. If possible, 
	maximize the browser window to make sure you see the tasks without having to scroll.
	Also, <b>do not</b> use the back-button of your browser or refresh this page, 
	as it might render your experiment invalid.
</p>
<p>
	No personal data will be stored permanently and your data and your person cannot be connected 
	after the data collection is completed. After the completion of the data collection, 
	the <b>data will be anonymized</b>. 
	Please understand that this also implies that the deletion of your 
	data will <b>not be possible</b> after the data collection, 
	as we will not be able to identify your data. 
	The data will be published as part of a scientific publication 
	and will be made available for further use in science. 
	However, as the data is anonymized, no data can be traced back to any specific person. 
	If you have any questions, you can contact us by email (<span id="author_email"></span>).
</p>